body {
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.home-container {
    vertical-align: top;
}

/** main {
  background-color: #56CCF2;
  padding-bottom: 5rem;
} */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.button-custom {
  background-color: #caebf2;
}

.button-custom:hover {
  background-color: #89e4f9;
}
