{% extends 'eventastic/base.html' %}
{% load staticfiles %}
{% load eventastic_template_tags %}

{% block title_block %}
  Account
{% endblock %}

{% block body_block %}
  <h1>Account</h1>

  <div class="m-4 bg-light">
    <div class="mb-4">
      <h2>Account Details</h2>
      <ul class="list-unstyled">
        <li><strong>Username:</strong> {{ request.user }}</li>
        <li><strong>First Name: </strong> {{ request.user.first_name }}</li>
        <li><strong>Last Name: </strong> {{ request.user.last_name }}</li>
        <li><strong>Email:</strong> {{ request.user.email }}</li>
        <li><strong>Date of Birth:</strong> {{ user_profile.DOB }}</li>
        <li><strong>Profile Picture:</strong></li>
        <li>{% get_user_profile_pic request.user.id %}</li>
      </ul>

      <button type="button" onclick="document.location='{% url 'eventastic:edit_account' %}'" class="btn button-custom px-3 m-1">Update Details</button>
    </div>

    <div class="mt-4 mb-4">
      <hr />
      <h2>Change Password</h2>
      <form id="change_password" method="post" action="{% url 'eventastic:account' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change Password" />
      </form>
    </div>

    <div class="mt-4">
      <hr />
      <h2>Delete Account</h2>
      <button type="button" onclick="document.location='{% url 'eventastic:delete_account' %}'" class="btn btn-danger px-3 m-1">Delete</button>
    </div>
  </div>

  <div class="m-4 bg-light">
    <h2>Events you are interested in</h2>
    {% if interested_events %}
      <ul>
        {% for event in interested_events %}
          <li>
            <a href="{% url 'eventastic:show_event' event.category.slug event.slug %}">{{ event.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>You are not interested in any events</strong>
    {% endif %}
  </div>

  <div class="m-4 bg-light">
    <h2>Organised Events</h2>
    {% if organised_events %}
      <ul>
        {% for event in organised_events %}
          <li>
            <a href="{% url 'eventastic:show_event' event.category.slug event.slug %}">{{ event.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>No events organised</strong>
    {% endif %}
  </div>
{% endblock %}
