{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}

<!-- Display a list of all the categories -->
{% block body_block %}
    <h1>Categories</h1>
    <p class="h4 pt-3">
      Take a look at the events in the categories below:
    </p>
    {% if categories %}
        <ul class="list-group my-4">
            {% for category in categories %}
                <li class="list-group-item h3 m-0 set-background">
                    <a class="list" href="{% url 'eventastic:show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <h4>Don't see a category that fits?</h4>

    {% else %}
        <p>No Categories are present</p>
    {% endif %}

    <a href="{% url 'eventastic:create_category' %}" class="btn button-custom px-3 m-1 border-1 border-dark" role="button">Create a new Category</a>
{% endblock %}
