{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Find Users
{% endblock %}

{% block body_block %}
    <h1>Find Users</h1>
    {% if users %}
        <ul class="list-group my-4">
            {% for user in users %}
                <li class="list-group-item h3 m-0 set-background">
                    <a class="list" href="{% url 'eventastic:show_user_events' user.user.id %}">{{ user.user }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Users Exist</p>
    {% endif %}
{% endblock %}
