{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Homepage
{% endblock %}

{% block body_block %}
  <h1>Top Events</h1>
  <div class="container">
    <div class="row row-cols-3">
      {% for event in top_events %}
      <div class="col">
        <div class="card" style="height:28rem;">
          <img src="{{ event.picture.url }}" height="250rem" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <a href="{% url 'eventastic:show_event' event.category.slug event.slug %}" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
