{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Homepage
{% endblock %}

{% block body_block %}

    <div class="d-inline-block border border-3 rounded-3 border-dark bg-white" style="width: 30vw; vertical-align: top; margin: 5rem">
        <p class="card-text h1 fw-bold px-3 py-3">Top Events</p>

        <div class="px-3 py-3 border-top border-dark border-3">
            <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
            <div class="card-body border-top">
                <p class="card-text h3 fw-bold">Bake Sale</p>
                <p class="card-text h5">Scotland</p>
                <p class="card-text h5">Users Interested: 20</p>
            </div>
        </div>

        <div class="px-3 py-3 border-top border-dark border-3">
            <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
            <div class="card-body border-top">
                <p class="card-text h3 fw-bold">Bake Sale</p>
                <p class="card-text h5">Scotland</p>
                <p class="card-text h5">Users Interested: 20</p>
            </div>
        </div>

        <div class="px-3 py-3 border-top border-dark border-3">
            <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
            <div class="card-body border-top">
                <p class="card-text h3 fw-bold">Bake Sale</p>
                <p class="card-text h5">Scotland</p>
                <p class="card-text h5">Users Interested: 20</p>
            </div>
        </div>

        <div class="px-3 py-3 border-top border-dark border-3">
            <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
            <div class="card-body border-top">
                <p class="card-text h3 fw-bold">Bake Sale</p>
                <p class="card-text h5">Scotland</p>
                <p class="card-text h5">Users Interested: 20</p>
            </div>
        </div>

        <div class="px-3 py-3 border-top border-dark border-3">
            <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
            <div class="card-body border-top">
                <p class="card-text h3 fw-bold">Bake Sale</p>
                <p class="card-text h5">Scotland</p>
                <p class="card-text h5">Users Interested: 20</p>
            </div>
        </div>
    </div>

    <div class="d-none d-lg-inline-block" style="width: 25vw; vertical-align: top; margin: 5rem">
        <div class="border border-3 rounded-3 border-dark bg-white">
            <p class="card-text h2 fw-bold px-3 py-3">Recently Published Events</p>

            <div class="px-3 py-3 border-top border-dark border-3">
                <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
                <div class="card-body border-top">
                    <p class="card-text h4 fw-bold">Bake Sale</p>
                    <p class="card-text h6">Scotland</p>
                    <p class="card-text h6">Users Interested: 20</p>
                </div>
            </div>

            <div class="px-3 py-3 border-top border-dark border-3">
                <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
                <div class="card-body border-top">
                    <p class="card-text h4 fw-bold">Bake Sale</p>
                    <p class="card-text h6">Scotland</p>
                    <p class="card-text h6">Users Interested: 20</p>
                </div>
            </div>

            <div class="px-3 py-3 border-top border-dark border-3">
                <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
                <div class="card-body border-top">
                    <p class="card-text h4 fw-bold">Bake Sale</p>
                    <p class="card-text h6">Scotland</p>
                    <p class="card-text h6">Users Interested: 20</p>
                </div>
            </div>
        </div>

        <div class="border border-3 rounded-3 border-dark bg-white mt-5">
            <p class="card-text h2 fw-bold px-3 py-3">Top Categories</p>

            <div class="px-3 py-3 border-top border-dark border-3">
                <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
                <div class="card-body border-top">
                    <p class="card-text h4 fw-bold">Bake Sale</p>
                    <p class="card-text h6">Scotland</p>
                    <p class="card-text h6">Users Interested: 20</p>
                </div>
            </div>

            <div class="px-3 py-3 border-top border-dark border-3">
                <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
                <div class="card-body border-top">
                    <p class="card-text h4 fw-bold">Bake Sale</p>
                    <p class="card-text h6">Scotland</p>
                    <p class="card-text h6">Users Interested: 20</p>
                </div>
            </div>

            <div class="px-3 py-3 border-top border-dark border-3">
                <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
                <div class="card-body border-top">
                    <p class="card-text h4 fw-bold">Bake Sale</p>
                    <p class="card-text h6">Scotland</p>
                    <p class="card-text h6">Users Interested: 20</p>
                </div>
            </div>

            <div class="px-3 py-3 border-top border-dark border-3">
                <img src="{% static 'images/BakeSale.jpg' %}" width="100%">
                <div class="card-body border-top">
                    <p class="card-text h4 fw-bold">Bake Sale</p>
                    <p class="card-text h6">Scotland</p>
                    <p class="card-text h6">Users Interested: 20</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
