{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login</h1>

    {% if error_message %}
      <p class="my-2">
        {{ error_message }}
      </p>
    {% endif %}
    <form id="login_form" method="post" action="{% url 'eventastic:login' %}">
        {% csrf_token %}
        Username: <input class="form-control" type="text" name="username" value="" size="50"/>
        Password: <input class="form-control" type="password" name="password" value="" size="50"/>
        <br/>
        <input class="btn button-custom px-3 border-1 border-dark" type="submit" value="Login"/>
    </form>

    <div>
      Not Registered? <a class="sidebar-list" href="{% url 'eventastic:register' %}">Register Here</a>
    </div>
{% endblock %}
