{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for Eventastic</h1>

    {% if registered %}
        <strong>Thank you for registering with Eventastic!</strong>
        <button type="button" onclick="document.location='{% url 'eventastic:index' %}'" class="btn btn-info px-3 m-1">Return to Homepage</button>

    {% else %}
        <form id="user_form" method="post" action="{% url 'eventastic:register' %}" enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>

        <p>
          Already got an Account?
          <a href="{% url 'eventastic:login' %}">Login Here</a>
        </p>
    {% endif %}
{% endblock %}
