{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ event.name }}
{% endblock %}

<!-- Displays the details about a specific event -->
{% block body_block %}
    <div>
        <!-- Inline styling so context can be used to display event picture as background picture -->
        <div id="set-event-dimensions" class="p-5 text-center bg-light page-header d-inline-block" style="background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{ event.picture.url }});">
            <h1 class="mb-3 text-white">{{ event.name }}</h1>
            <h4 class="mb-3 text-white stop-overflow"><p>{{ event.description }}</p></h4>
            <!-- If the user is logged in then allow them to be interested in the event -->
            {% if user.is_authenticated %}
                <!-- Inline Styling is used here to override the bootstrap defaults using classes and ids and even !important was tried but only inline styling gave desired output -->
                <button id="interest-button" class="btn btn-outline-light btn-lg mb-3" value="{{ event.name }}" url="{% url 'eventastic:interest' %}" {% if is_interested %} style="background-color:white; color:black" {% endif %} type="button">
                  {% if is_interested %}
                    Interested
                  {% else %}
                    Register Interest
                  {% endif %}
                </button>
            <!-- If the user is not logged in then the interest button will redirect them to the login page -->
            {% else %}
                <button id="interest-button" class="btn btn-outline-light btn-lg mb-3" onclick="document.location='{% url 'eventastic:login' %}'" type="button">
                  Register Interest
                </button>
            {% endif %}
            <div>
                <span class="m-3 text-white">Created By: <a class="text-white" href="{% url 'eventastic:show_user_events' event.createdBy.user.id %}">{{ event.createdBy }}</a></span>
                <span class="m-3 text-white">Start: {{ event.startDate }} {{ event.startTime }}</span>
                <span class="m-3 text-white">Location: {{ event.address }} {{ event.postcode }}</span>
            </div>
            <div class="m-2">
                <span class="m-4 text-white h3"><span id="interest-counter">{{ event.numberInterested }}</span> users are interested in this event</span>
            </div>
        </div>

        <div id='map' class="d-inline-block"></div>
    </div>

    <!-- Comments Section -->
    <div class="mt-5">
        <h1 class="fw-bold">Comments</h1>
        <!-- Add a comment form -->
        <form id="set-event-dimensions" method="post" action="{% url 'eventastic:show_event' event.category.slug event.slug %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input class="btn button-custom px-3 m-1 border-1 border-dark" type="submit" name="submit" value="Add Comment"/>
        </form>
        <hr />
        <!-- Display all the comments received for the event -->
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                {% for comment in comments %}
                    <div class="comment mt-4 text-justify float-left">
                        <img src="{{ comment.username.profilePicture.url }}"
                             width=60rem height=60rem
                             class="rounded-circle p-2"/>
                        <strong><h4>{{ comment.username }}</h4>
                        <span>- {{ comment.posted }}</span></strong> <br />
                        <p class="m-2">{{ comment.comment }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Javascript required for the map to work -->
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoicm9iYmllbWNndWdhbiIsImEiOiJja212MW92a3owMHV6MnduMW1lOW9hcmozIn0.c1uIywPkB2utua5INvv4Cw';
        // Initialises map
        var map = new mapboxgl.Map({
            // Stores it in the div container with id 'map'
            container: 'map',
            // Set the stule using MapBox external styles
            style: 'mapbox://styles/mapbox/streets-v11',
            // Set the center of the map to the location of the event
            center: [{{ longitude }}, {{ latitude }}],
            // Zoom out moderately
            zoom: 9
        });

        // JSON data that puts a point on the map corresponding with the location of the event
        var geojson = {
            type: 'FeatureCollection',
            features: [{
                type: 'Feature',
                geometry: {
                    // Make our marker a point on the map
                    type: 'Point',
                    // Set the coordinates on the map to the values obtained from geopy in the show_event view
                    coordinates: [{{ longitude }}, {{ latitude }}]
                },
                properties: {
                    title: 'Event',
                    description: 'Eventastic Event'
                }
            }]
        };

        // Adds all the features in geojson to the map. In our case just the one.
        geojson.features.forEach(function (marker) {

            // create a HTML element for each feature
            var el = document.createElement('div');
            el.className = 'marker';

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);
        });
    </script>

{% endblock %}
