{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ event.name }}
{% endblock %}

{% block body_block %}

<div class="p-5 text-center bg-light" style="background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{ event.picture.url }}); object-fit: cover; height: 20rem; width: 80rem">
    <h1 class="mb-3 text-white">{{ event.name }}</h1>
    <h4 class="mb-3 text-white">{{ event.description }}</h4>
    <a class="btn btn-outline-light btn-lg mb-3" href="#!" role="button">Register Interest</a>
    <div>
      <span class="m-4 text-white">Created By: {{ event.createdBy }}</span>
      <span class="m-4 text-white">Start: {{ event.start }}</span>
      <span class="m-4 text-white">Location: {{ event.address }} {{ event.postcode }}</span>
    </div>
  </div>

<!-- medium -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <h2>Rating</h2>
          <br />
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" /> 1
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2" /> 2
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3" /> 3
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox4" value="option4" /> 4
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox5" value="option5" /> 5
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- medium4 -->
<div class="col-md-12">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <h2>Comments</h2>
          <br />
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="">Add a Comment;</label>
            </div>
            <div class="form-group form-inline">
              <input
                type="text"
                class="form-control"
                id=""
              />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <h4>User27: Very Good! ☆☆☆☆☆</h4>
          <h4>User12: Not Bad! ☆☆☆☆☆</h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
