{% extends 'eventastic/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Category Not Found
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
      <div id="set-category-dimensions" class="p-5 text-center bg-light page-header d-inline-block" style="background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{ category.picture.url }});">
        <h1 class="mb-3 text-white">{{ category.name }}</h1>
        <h4 class="mb-3 text-white"><p>{{ category.description }}</p></h4>
      </div>
      <p class="h5 pt-3">
        Below are the events in the {{ category.name }} category:
      </p>
      {% if events %}
        <ul class="list-group my-4">
          {% for event in events %}
            <li class="list-group-item h3 m-0 set-background">
              <a class="list" href="{% url 'eventastic:show_event' category.slug event.slug %}">{{ event.name }}</a>
            </li>
          {% endfor %}
        </ul>

        <h4>Want to create your own event?</h4>
      {% else %}
        <strong>No events under this category</strong>
        <h4>Be the first to create an event</h4>
      {% endif %}
    {% else %}
      <strong>The specified category does not exist.</strong>
    {% endif %}
    <a href="{% url 'eventastic:create_event' %}" class="btn btn-primary" role="button">Create a new Event</a>
{% endblock %}
